body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: purple;
}

#container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#animal-img {
    border: 10px solid pink;
    border-radius: 5px;
}

button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solidy pink;
    border-radius: 5px;
    background-color: white;
    color: pink;
    font-size: 1.2em;
    margin: 10px;
}

#button-action-text {
    display: none;
}
